body{
    background-color: bisque;
    background: url(image/a1.PNG)
}
 #demo1{
    color:#B400BF; 
}
#demo2{
    color:#BF0011;
}
#demo3{
    color:black;
    background-color:rgb(138, 252, 0 );
}
#demo4{
    color:red;
}
.demo5{
    color:green;
    background-color:#E8FF00;
    text-align: center;
}
.demo6{
    color:blue;
    background-color:white;
}
h1,h2{
    text-align: center;
}
p{
    text-align: center;
    font-weight: bolder;
    /* font-weight: 800; */
}
